<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div style="font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';margin: 0 auto;max-width: 640px;padding: 1rem;color: hsl(20 14.3% 4.1%);">
    <h1 style="letter-spacing: -0.025em;font-weight: 800;font-size: 2.25rem;line-height: 2.5rem;padding-bottom: 2rem;text-align: center;">Відновлення паролю</h1>
    <div style="letter-spacing: 0.1em;font-weight: 900;font-size: 4rem;line-height: 4.5rem;padding-bottom: 2rem;text-align: center;">
      {{.Code}}
    </div>
    <p>
      Ваш код для відновлення пароля облікового запису <a href="{{.Link}}" style="text-decoration: none;font-weight: 500;color: hsl(24.6 95% 53.1%);">VYDELKA</a>.
      Він дійсний лише протягом наступних 24 годин. Не повідомляйте цей код нікому. 
      Якщо ви не повинні були отримати цей лист - ігноруйте його.
    </p>
  </div>
</body>
</html>
